# Database Configuration
# Sesuaikan dengan konfigurasi docker-compose.yml
DATABASE_URL="postgresql://oasejiwa:sosok_menginspirasi@localhost:5433/oase_jiwa_db?schema=public"

# Application Port
PORT=3000
