# Compiled output & dependencies
/dist
/node_modules
/build
.tsbuildinfo
dist/
dist/.prisma-client
.prisma-client/
/generated/prisma
/prisma/generated

# Environment variable files (Strictly Ignored)
.env
.env.*
!.env.example
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Private Keys, Certificates, and Credentials
*.pem
*.key
*.cert
*.crt
*.pfx
*.p12

# Logs & Debugging
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Test coverage
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temp & Runtime data
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Uploads directory (Ignore newly uploaded assets)
uploads/*
!uploads/.gitkeep