{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "target": "es2022",
    "module": {
      "type": "es6",
      "resolveFully": true
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": false,
  "sourceMaps": true,
  "exclude": ["node_modules", "test", "dist", "**/*spec.ts", "src/generated/**"]
}
